PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/konekta
JWT_SECRET=cambia-esta-clave
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5500
UPLOAD_DIR=./uploads
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
CLOUDINARY_FOLDER=konekta
